.quote {
    padding: 20px;
    margin: 20px 0;
    border-radius: 4px;
    background: #b1d5e6;
    color: #1b1b1b;
    position: relative;
    &__value {
        margin-bottom: 16px;
    }
    &__author {
        font-size: 0.85em;
        opacity: 0.8;
    }
    &__label {
        position: absolute;
        top: -24px;
        left: 0;
        color: #fff;
    }
}